@font-face {
    font-family: "Open Sans";
    src: url("https://azodox.github.io/uwu-calc/fonts/OpenSans.woff2") format("woff2");
}

::-moz-selection {
    color: white;
    background-color: black;
}

::selection {
    color: white;
    background-color: black;
}

body {
    font-family: "Open Sans";
    background-image: url("https://azodox.github.io/uwu-calc/background.png")
}

body input[type=number]{
    font-size: 15px;
    color: white;
    border: 2px solid #F3C4FB;
}

body input[type=number]:hover{
    border: 4px solid #E5B3FE;
    color: #E5B3FE;
}

.category-name {
    color: #C8E7FF;
    text-decoration: underline;
}

#drinks {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}

.object-name {
    color: black;
    display: inline-block;
    padding: 4px;
    background-color: #D0D1FF;
}

.amount {
    background: transparent;
    width: 50px;
}

.option {
    margin-left: 20px;
    margin-bottom: 20px;
}

.option-container label {
    color: white;
}

#calculate-button {
    font-family: "Open Sans";
    float: right;
    width: 30%;
    margin-right: 33%;
    background-color: transparent;
    color: #FFCBF2;
    font-size: 200%;
    border: none;
    border: 4px solid #FFCBF2;
    border-radius: 10px;
}

#calculate-button:hover {
    color: black;
    cursor: pointer;
    background-color: #FFCBF2;
}

#result-container {
    color: white;
    float: right;
    margin-top: 2%;
}

#sum {
    background-color: transparent;
    border: none;
    color: white;
    resize: none;
}