@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans.woff2") format("woff2");
}

body {
    font-family: "Open Sans";
    background-color: #DEAAFF;
}

body input[type=number]{
    border: 5px solid #D0D1FF;
}

body input[type=number]:hover{
    border: 5px solid #FFF;
    color: white;
}

.category-name {
    color: #C8E7FF;
}

.drinks {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}

.object-name {
    display: inline-block;
    padding: 4px;
}

.amount {
    background: transparent;
    width: 50px;
}