@font-face {
    font-family: "Oswald";
    src: url("https://azodox.github.io/uwu-calc/fonts/oswald.woff2") format("woff2");
}

@font-face {
    font-family: "Merryweather";
    src: url("https://azodox.github.io/uwu-calc/fonts/merriweather.woff2") format("woff2");
}

::-moz-selection {
    color: white;
    background-color: black;
}

::selection {
    color: white;
    background-color: black;
}

body {
    font-family: arial,sans-serif;
    background-image: url("https://azodox.github.io/uwu-calc/background.png");
    background-size: cover;
}

body input[type=number]{
    font-size: 15px;
    color: white;
    border: 2px solid #F3C4FB;
}

body input[type=number]:hover{
    border: 2px solid #E5B3FE;
    color: #E5B3FE;
}

.category-name {
    color: #C8E7FF;
    text-decoration: underline;
}

#drinks {
    font-family: "Merryweather";
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}

.object-name {
    color: black;
    display: inline-block;
    padding: 4px;
    border-radius: 10px;
}

#hot-drink .object-name {
    background-color: #F3C4FB;
}

#iced-drink .object-name {
    background-color: #F3C4FB;
}

#pastry-container .object-name {
    background-color: #F3C4FB;
}

.amount {
    background: transparent;
    width: 50px;
}

.option {
    margin-left: 20px;
    margin-bottom: 20px;
}

.option-container label {
    color: white;
}

#calculate-button {
    font-family: "Merryweather";
    width: 100%;
    background-color: transparent;
    color: #FFCBF2;
    font-size: 200%;
    border: none;
    border: 4px solid #FFCBF2;
    border-radius: 10px;
}

#calculate-button:hover {
    color: black;
    cursor: pointer;
    background-color: #FFCBF2;
}

#result-container {
    float: right;
    margin-right: 38%;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#sum {
    background-color: rgb(54, 54, 54);
    opacity: .5;
    border: none;
    color: white;
    resize: none;
    border: 2px solid #FFCBF2;
    border-radius: 10px;
    font-family: "Oswald";
}

#total {
    font-size: 3rem;
}

#line {
    margin-top: -5px;
    width: 70%;
    border: 4px solid white;
    border-radius: 10px;
}